<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!--  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
     <link rel="stylesheet" href="http://localhost/project/template/assets/css/style.css">
     <!-- leaflet  -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css"/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <script script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script >
 
    
    <!--  -->
    <script src="https://kit.fontawesome.com/025cfe9034.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/media.css">

</head>
<body>
    <nav id="navbar">
        <h1>
            3qary 
        </h1>
        <div id="navContact">
            <a href="../Index.html" class="contact">Home</a>
            <a href="./contact.html" class="contact">contact US</a>
            <a href="https://www.facebook.com/profile.php?id=100007427318406" class="contact">Created By</a>
            <a href="#" id="wrab" class="contact"><i class="fa-solid fa-list"></i></a>
        </div>
        <div id="cart">
            <div id="carticon">
                <span id="notinum"></span><i class="fa-solid fa-bell"></i>
            </div>
            <img id="cartImg" src="../img/shopping-trolley-icon.png" alt="cart">
        </div>
    </nav>
    <section class="myContainer">
        <main>
            <img src="../img/7O6A4622.jpg" id="sorty" alt="image">
            <h1>Ahmed Mhfouz</h1>
        </main>
        <aside class="aboutUS">
            <h1>We are 3qary </h1>
            <h3>You pay realtors because they have reach and proven results, and the 3qary Team wants you to know it’s extraordinary at both. It helps that the results-driven sentiment here drives home the abstract idea of “extraordinary reach”</h3>
            <p>So good, they’re on this list twice, Halstead hits on the aspirational side of real estate with this tagline. Most of us have been moved by a piece of real estate. We see ourselves curled up by the fireplace or hosting friends in the backyard -- and this tagline tugs at those feelings in a subtle yet motivating way.
            </p>
            <h1 style="color: gold;">Let Our Family Show Your Family the Way Home</h1>
        </aside>
    </section>
        <section class="code">
                <img src="../img/300376069_2031744827213224_5532801490924255426_n.jpg" alt="image" srcset="">
        </section>


    <footer id="footbar">
        <h3>
        Contact info
        </h3>
    <div id="social">
        <a href="https://www.facebook.com/"> 
        <h3><i class="fa-brands fa-facebook  blue"></i></h3>
        </a>
        <a href="https://www.facebook.com/">
            <h3><i class="fa-brands fa-facebook-messenger blue"></i></h3>
        </a>
        <a href="https://web.whatsapp.com/">
            <h3><i class="afa-brands fa-whatsapp green"></i></h3>
        </a>
        <a href="https://www.instagram.com/">
        <h3><i class="fa-brands fa-instagram"></i></h3>
        </a>
        <a href="https://twitter.com/i/flow/login">
            <h3><i class="fa-brands fa-twitter"></i></h3>            
        </a>
        <a href="https://www.iti.gov.eg/iti/home">
            <h3><i class="fa-solid fa-heart red"></i></h3>                       
        </a>
        <a href="https://www.google.com/maps">
            <h4 class=""><i class="fas fa-map-marker-alt blue"></i> &nbsp; 46 Salah salem, El-zawia, Cairo</h4>
        </a>
        <a href="https://mail.google.com">
            <h4 class=""><i class="fas fa-phone-volume  red"></i>&nbsp; +2 (0100) 938–5210</h4>
        </a>
        <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox">
            <h4 class=""><i class="far fa-envelope green"></i>&nbsp; geo.mahfoz@gmail.com</h4>
        </a>
            
    </div>
    <div class="copy">
        <h4 class="dev">&copy;2022 Developed By Ahmed Mahfouz</h4>
    </div>
    <a href="#bod">  <button class="up"><i class="fas fa-chevron-up"></i></button></a>
</footer>
    <script src="../js/validat.js"></script>
</body>
</html>